* {
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  scrollbar-color: #232323;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  color: white;
  background: #232323;
}

canvas {
  z-index: 1;
  background: #232323;
  display: block;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /*Firefox*/
}

#particles-js {
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: red;
}

#login,
#register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
}

h1 {
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(238, 57, 57));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200%;
  text-align: center;
  width: 100%;
}

#form-body {
  display: flex;
  flex-direction: column;
}

#email,
#userId,
#password {
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid #ffffff;
  width: 98%;
  background-color: transparent;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
}
input:focus {
  outline: none !important;
}
input::placeholder {
  color: white;
}
.form-footer {
  text-align: center;
}
.form-footer input {
  margin-top: 5px;
  height: 40px;
  border-radius: 20px;
  padding: 0px 50px;
  color: #ffffff;
  background-color: #f44336;
  border: none;
  cursor: pointer;
}

.form-footer input:hover {
  opacity: 0.7;
}

.register-here h2 {
  font-size: 100%;
  color: #f44336;
  text-decoration: none;
  text-align: center;
}

.login-here h2 {
  font-size: 100%;
  color: #f44336;
  text-decoration: none;
  text-align: center;
}

.register-here a {
  color: #f44336;
  text-decoration: none;
  text-align: center;
}

.login-here a {
  color: #f44336;
  text-decoration: none;
  text-align: center;
}

span {
  text-align: center;
  margin-top: 10px;
}

#enter-game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow: hidden;
}

.enter-game-class {
  text-align: center;
}
.enter-game-class input {
  margin-top: 5px;
  height: 40px;
  border-radius: 20px;
  padding: 0px 50px;
  color: #ffffff;
  background-color: #f44336;
  border: none;
  cursor: pointer;
}

.enter-game-class input:hover {
  opacity: 0.7;
}

#verification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 245px;
  overflow: hidden;
}

#code {
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid #ffffff;
  width: 98%;
  background-color: transparent;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
}

.verify h2 {
  font-size: 100%;
  text-decoration: none;
  text-align: center;
}

#errorCode {
  text-align: center;
  margin-left: 50px;
  margin-top: 10px;
}

#admin-id {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  /* width: 300px; */
  overflow: hidden;
}
#page-body {
  height: 70vh;
  display: grid;
  justify-content: center;
}
#logged-users {
  height: 70vh;
  padding-top: 5%;
  /* height: 150px; */
  overflow: auto;
  margin-top: 20px;
}

th,
td {
  padding-left: 50px;
}

#leaderboard {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
}

#menu-sign {
  margin-left: 10px;
  margin-top: 10px;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 2;
  display: none;
}

#open-menu {
  height: 55vh;
  width: 45vw;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 2;
  margin-left: 20px;
  margin-top: 70px;
  background-color: rgba(100, 100, 100, 0.5);
  display: none;
  border-radius: 25px;
}

#player-info {
  height: 5vh;
  width: 45vw;
  background-color: rgba(17, 17, 17, 0.5);
  position: absolute;
  z-index: 2;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
}

#player-name-info {
  width: 22.5vw;
  display: flex;
  justify-content: center;
}

#log-out-div {
  width: 22.5vw;
  display: flex;
  justify-content: center;
}

#player-name {
  display: none;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 2;
  opacity: 1 !important;
  margin-left: 20px;
  margin-top: 5px;
}

#log-out {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  margin-right: 20px;
  margin-top: 5px;
  opacity: 1 !important;
  display: none;
}

#stats {
  opacity: 1 !important;
  position: absolute;
  height: 50vh;
  width: 45vw;
  margin-top: 5vh;
  display: flex;
}

#match-stats-info {
  position: relative;
  height: 50vh;
  width: 22.5vw;
  opacity: 1 !important;
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
}
#table-scroll {
  /* height: 150px; */
  overflow: auto;
  /* margin-top: 20px; */
}

#match-stats-name {
  opacity: 1 !important;
  text-align: center;
}

#leaderboard {
  height: 50vh;
  width: 22.5vw;
  opacity: 1 !important;
  display: flex;
  flex-direction: column;
}

#leaderboard-name {
  opacity: 1 !important;
  text-align: center;
}

.table td,
th {
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
}

/* #dashboard {
  position: relative;
} */
